* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #e4f9f5 !important;
}

hr .break {
  border-top: 1px solid #11999e;
}

* .btn {
  background-color: #11999e !important;
  color: white !important;
  padding: auto 10px !important;
  border: none !important;
}

.navbar {
  background-color: #e4f9f5;
}

.navbar-left {
  color: #40514e !important;
  float: left;
  justify-content: space-between;
}

.navbar-right {
  color: #40514e;
  float: right;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.hero-section {
  margin-top: 75px !important;
  height: 650px;
  width: 100%;
  position: relative;
  margin: 0 auto; /* Center it */
}

.hero-section .content {
  position: absolute; /* Position the background text */
  bottom: 10%; /* At the bottom. Use top:0 to append it to the top */
  background: rgb(0, 0, 0); /* Fallback color */
  background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
  color: #f1f1f1; /* Grey text */
  width: 100%; /* Full width */
  padding: 20px; /* Some padding */
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* story section */
.expert-section {
  width: 100%;
  height: 100%;
  position: relative;
}

.text {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4; /* number of lines to show */
  -webkit-box-orient: vertical;
  align-items: center;
}

#wrapper_1 {
  height: 400px;
  float: left;
  width: 50%;
}
#wrapper_1 img,
#wrapper_2 img {
  height: 40%;
  width: 40%;
}

#wrapper_2 {
  height: 400px;
  width: 50%;
  float: right;
}

.seperator {
  height: 70%;
  width: 2px;
  background: #11999e;
  top: 100px;
  bottom: 0;
  position: absolute;
  left: 50%;
}

.clearfix {
  clear: both;
}

.services {
  width: 100%;
  height: 100%;
  position: relative;
}

/* Card UI starts */
.flip-card {
  background-color: transparent;
  width: 300px;
  height: 300px;
  margin: 10px auto;
  border: 1px solid #f1f1f1;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 10px auto;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: #bbb;
  color: black;
}

/* Style the back side */
.flip-card-back {
  background-color: #30e3ca;
  color: white;
  transform: rotateY(180deg);
}
/* Card UI end*/

.footer-credit {
  display: inline-flex;
  justify-content: space-between;
}

.contacts {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.fa-facebook-square,
.fa-instagram-square {
  width: 50px;
  height: 50px;
  color: #11999e;
}
